:root {
    --color1: #add1f8;
    --color2:  #014691;
}
.menu {
    display: flex;
    justify-content: center;
}
.knopki {
    background-color: var(--color2);
    color: aliceblue;
    border-radius: calc(20px + 20px); 
    padding: calc(5px + 5px) 10px;
}
    .knopki:focus {
        background-color: var(--color1);}