:root {
    --color1: #add1f8;
    --color2:  #014691;
}
body {
background-color: var(--color1); 
}
.container1 {
padding: calc(20px - 10px); 
border-radius: 1rem; 
background-color: var(--color2); 
color: aliceblue;
transition-property: background-color;
transition-duration: 500ms;
transition-timing-function: ease-in-out;
}
.container2 {
    display: flex;
    padding: 10px 10px; 
    text-align: center; 
    margin-left: calc(10% - 5%);
}
input:focus {
    border: 20vh;
    }
.container1:focus {
    background-color: var(--color1);
}
.container1:active {
    transform: translate(1vw, 1vw);
}
h4:hover {
    font-size: 1.5em;
}